***Apply function to every row in a Pandas DataFrame***

One can use apply() function in order to apply function to every row in given dataframe. Let’s see the ways we can do this task.

(https://www.geeksforgeeks.org/apply-function-to-every-row-in-a-pandas-dataframe/)

In [1]:
import pandas as pd
import numpy as np

In [2]:
print(np.__version__)
print(pd.__version__)

1.26.0
2.1.1

In [3]:
def add(a,b,c):
    return a + b + c
def main():
    data = {'A':[1, 2, 3], 
            'B':[4, 5, 6], 
            'C':[7, 8, 9] }
    df = pd.DataFrame(data)
    print("Original Dataframe is:\n",df)
    df['add'] = df.apply(lambda row :add(row['A'],row['B'],row['C']),axis=1)
    print("\nAfter applying Function: ")
    print(df)
if __name__ == '__main__':
    main()

Original Dataframe is:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

After applying Function:
   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [7]:
data = {
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
}
df = pd.DataFrame(data)
print("Orginal Dataframe\n",df)
df['add'] = df.apply(np.sum,axis = 1)
print("After Applying function\n")
print(df)

Orginal Dataframe
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
After Applying function

   A  B  C  add
0  1  4  7   12
1  2  5  8   15
2  3  6  9   18

In [6]:
def norm(x,y):
    x_new = ((x - np.mean([x, y])) / (max(x, y) - min(x, y)))
    return x_new

In [8]:
def main():
    data = {'X':[1,2,3],
           'Y':[45,65,89]}
    df = pd.DataFrame(data)
    print("Original Data is:\n",df)
    df['X'] = df.apply(lambda row : norm(row['X'],row['Y']),axis=1)
    print("Normalized:\n")
    print(df)

In [9]:
if __name__ == '__main__':
    main()

Original Data is:
    X   Y
0  1  45
1  2  65
2  3  89
Normalized:

     X   Y
0 -0.5  45
1 -0.5  65
2 -0.5  89

Look for this 
https://saturncloud.io/blog/how-to-normalize-data-in-pandas-a-guide/

In [4]:
pd.options.mode.chained_assignment = None
#This turns warnings into exceptions. For more details see warnings package documentation
#Hence my warnings were treated as exceptions, although the pandas option was set to "warn

In [6]:
def gen_range(n):
    n = int(n)
    lower_limit = n//10 * 10
    upper_limit = lower_limit + 10
    return str(str(lower_limit)) + '-' + str(upper_limit)

In [7]:
def replace(row):
    for i ,item in enumerate(row):
        row[i] = gen_range(item)
    return row

In [15]:
def main():
    data = {
            'A':[0, 2, 3], 
            'B':[4, 15, 6], 
            'C':[47, 8, 19] }
    df = pd.DataFrame(data)
    print("Print before applying function")
    print(df)
    df = df.apply(lambda row :replace(row))
    print("After the applying function")
    print(df)
if __name__ == '__main__':
    main()

Print before applying function
   A   B   C
0  0   4  47
1  2  15   8
2  3   6  19
After the applying function
      A      B      C
0  0-10   0-10  40-50
1  0-10  10-20   0-10
2  0-10   0-10  10-20

C:\Users\srini\AppData\Local\Temp\ipykernel_21568\1734972519.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = gen_range(item)
C:\Users\srini\AppData\Local\Temp\ipykernel_21568\1734972519.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0-10' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = gen_range(item)
C:\Users\srini\AppData\Local\Temp\ipykernel_21568\1734972519.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '40-50' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  row[i] = gen_range(item)

***Enumerate() in Python***

when dealing with iterators, we also need to keep a count of iterations. Python eases the programmers’ task by providing a built-in function enumerate() for this task. The enumerate () method adds a counter to an iterable and returns it in the form of an enumerating object. This enumerated object can then be used directly for loops or converted into a list of tuples using the list() function.

Syntax: enumerate(iterable, start=0)

Parameters:

Iterable: any object that supports iteration

Start: the index value from which the counter is to be started, by default it is 0

Return: Returns an iterator with index and element pairs from the original iterable

In [17]:
l1 = ["eat", "sleep", "repeat"]
s1 = "kitten"
obj1 = enumerate(l1)
obj2 = enumerate(s1)
print("Object 1 enumerate  is:")
print(list(obj1))
print("Object 2 enumerate is:")
print(list(obj2))

Object 1 enumerate  is:
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
Object 2 enumerate is:
[(0, 'k'), (1, 'i'), (2, 't'), (3, 't'), (4, 'e'), (5, 'n')]

Using Enumerate Object in Loops
Enumerate() is used with a list called l1. It first prints tuples of index and element pairs. Then it changes the starting index while printing them together. Finally, it prints the index and element separately, each on its own line.

In [22]:
# printing the tuples in object directly
for ele in enumerate(l1):
    print(ele)
print('\n')
# changing index and printing separately
for count,ele in enumerate(l1,100):
    print(count,ele)
print('\n')
# getting desired output from tuple
for count,ele in enumerate(l1):
    print(count)
    print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')


100 eat
101 sleep
102 repeat


0
eat
1
sleep
2
repeat

Learing enumerate 
(https://www.geeksforgeeks.org/enumerate-in-python/)

In [4]:
fruits = ['apple','banana','grape','mango']
enum_frits = enumerate(fruits)
next_fruit = next(enum_frits)
next_fruit1 = next(enum_frits)
print(f"Next Element:{next_fruit}")
print(f"Next Element:{next_fruit1}")
print(f"Next Element:{next_fruit}")

Next Element:(0, 'apple')
Next Element:(1, 'banana')
Next Element:(0, 'apple')

***eval in Python***

Python eval() function parse the expression argument and evaluate it as a Python expression and runs Python expression (code) within the program.

->You may want to use it to allow users to enter their own “scriptlets”: small expressions (or even small functions), that can be used to customize the behavior of a complex system.

->eval() is also sometimes used in applications needing to evaluate math expressions. This is much easier than writing an expression parser.

In [6]:
print(eval('1+2'))

3

Syntax: eval(expression, globals=None, locals=None)

Parameters:

expression: String is parsed and evaluated as a Python expression

globals [optional]: Dictionary to specify the available global methods and variables.

locals [optional]: Another dictionary to specify the available local methods and variables.
Return: Returns output of the expression.

In [8]:
print(eval("sum([1+2+3])"))

6

In [16]:
def function_create():
    expr = input("Enter the function(in terms of x):")
    x = int(input("Enter the vlaue of x: "))
    y = eval(expr)
    print("y = ",y)
if __name__ == '__main__':
    function_create()

Enter the function(in terms of x):x*x
Enter the vlaue of x: 3
<class 'int'>
y =  9

(https://www.geeksforgeeks.org/eval-in-python/)

In [18]:
x = [1,2,3]
y = eval('sum(x)')
print(y)
print(type(y))

6
<class 'int'>

In [4]:
exp = 'x*(x+1)*(x+2)'
print(exp)
x = 10
result = eval(exp)
print(result)

x*(x+1)*(x+2)
1320

In [5]:
x == 5
print(eval('x==4'))
x = None
print(eval('x is None'))

False
True

In [ ]:
chars = ('a','b','c')
print("'d' in chars tuple?",eval("'d' in chars"))
num = 100
print(num,"> 50?",eval('num > 50'))

#checking if number is even
num = 20 
print(num,"is even?",eval('num % 2 == 0'))

In [2]:
def secret_function():
    return "Secret key is 1234"
def solve_exp():
    exp = input("Enter the function(in terms of x):")
    x = input("Enter the value of x:")
    print("result",eval(exp))
solve_exp()

Enter the function(in terms of x): secret_function()
Enter the value of x:10
result Secret key is 1234

(https://www.geeksforgeeks.org/eval-in-python/)

In [2]:
from math import *
def secrt_fun():
    return "secrete key is 1234"
def function_creator():
    expr = input("Enter the function(in terms of x):")
    x = int(input("Enter the vlaue of x:"))
    safe_dict ['x']= x
    y = eval(expr,{},safe_dict)
    print('y={}'.format(y))

if __name__ =='__main__':
    safe_list = ['acos', 'asin', 'atan', 'atan2', 'ceil', 'cos',
                 'cosh', 'degrees', 'e', 'exp', 'fabs', 'floor',
                 'fmod', 'frexp', 'hypot', 'ldexp', 'log', 'log10',
                 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt',
                 'tan', 'tanh']
    safe_dict = {}
    for safe_key in safe_list:
        safe_dict[safe_key] = locals().get(safe_key)
function_creator()

Enter the function(in terms of x):secrt_fun()
Enter the vlaue of x:0

NameError: name 'secrt_fun' is not defined

In [2]:
df5 = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
df5

   A   B
0  1  10
1  2  20

In [3]:
#apply() with lambda
df_a = df5.apply(lambda x :x*x)
df_a

   A    B
0  1  100
1  4  400

In [4]:
df_a1 = df5.apply(np.sum,axis=0) #column
df_a1

A     3
B    30
dtype: int64

In [5]:
df_a2 = df5.apply(np.sum,axis=1)#rows
df_a2

0    11
1    22
dtype: int64

In [6]:
#DataFrame apply() with arguments
def sum1(x,y,z):
    return x+y+z
df_a3 = df5.apply(sum1,args=(1,2))
'''
sum
exp.
col = A
x = 1 
y = 2
z = 1
total = 4
col = B
x = 1 
y = 2
z = 10
total = 13
col = A
x = 1 
y = 2
z = 2
total = 5
col = B
x = 1 
y = 2
z = 20
total= 23
'''
df_a3

   A   B
0  4  13
1  5  23

In [10]:
df5

   A   B
0  1  10
1  2  20

In [7]:
# DataFrame apply() with positional and keyword arguments
def sum2(x,y,z,m):
    return (x+y+z) * m 
df_a6 =  df5.apply(sum2,args=(1,2),m=10)
df_a6
'''
sum * m
exp.
col = A
x = 1 
y = 2
z = 1
m = 10
total = 40
col = B
x = 1 
y = 2
z = 10
m = 10
total = 130
col = A
x = 1 
y = 2
z = 2
m = 10
total = 50
col = B
x = 1 
y = 2
z = 20
m = 10
total= 230
'''

'\nsum * m\nexp.\ncol = A\nx = 1 \ny = 2\nz = 1\nm = 10\ntotal = 40\ncol = B\nx = 1 \ny = 2\nz = 10\nm = 10\ntotal = 130\ncol = A\nx = 1 \ny = 2\nz = 2\nm = 10\ntotal = 50\ncol = B\nx = 1 \ny = 2\nz = 20\nm = 10\ntotal= 230\n'

(https://www.digitalocean.com/community/tutorials/pandas-dataframe-apply-examples#2-apply-with-lambda)

In [8]:
# DataFrame applymap() function
import math
df_m = df5.applymap(math.sqrt)
df_m

C:\Users\srini\AppData\Local\Temp\ipykernel_12208\2735901652.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_m = df5.applymap(math.sqrt)

          A         B
0  1.000000  3.162278
1  1.414214  4.472136

In [9]:
df6 = pd.DataFrame({'Name':['Kylie','Adam'],'Role':['ceo','coo']})
df_m = df6.applymap(str.upper)
df_m

C:\Users\srini\AppData\Local\Temp\ipykernel_12208\3460558374.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_m = df6.applymap(str.upper)

    Name Role
0  KYLIE  CEO
1   ADAM  COO