In [ ]:
#https://www.youtube.com/watch?v=UFuo7EHI8zc&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=10&ab_channel=CoreySchafer

In [1]:
import pandas as pd

In [2]:
#To apply date fomrat at begining whne load data 
d_parse = lambda x : pd.datetime.strptime(x,'%Y-%m-%d %I-%p')
df = pd.read_csv(r"C:\Users\srini\OneDrive\Documents\crypto_data\ETH_1h.csv",parse_dates=['Date'],date_parser=d_parse)

C:\Users\srini\AppData\Local\Temp\ipykernel_17636\2993305534.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  d_parse = lambda x : pd.datetime.strptime(x,'%Y-%m-%d %I-%p')

In [3]:
df.head()

                 Date  Symbol    Open    High     Low   Close      Volume
0 2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1 2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2 2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3 2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4 2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [4]:
df.shape

(23674, 7)

In [5]:
df.loc[0,'Date'].day_name()

'Friday'

In [15]:
df['Date'] = pd.to_datetime(df['Date'],format='%Y-%m-%d %I-%p')

In [16]:
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [6]:
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [18]:
df['dayOfweek'] = df['Date'].dt.day_name()

In [19]:
df

,Date,Symbol,Open,High,Low,Close,Volume,dayOfweek
0,2020-03-13 20:00:00,ETHUSD,129.94,131.82,126.87,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,132.02,117.10,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,124.85,115.50,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,127.42,121.63,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,129.51,120.17,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,272.74,265.00,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,269.90,265.00,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,274.93,265.00,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,275.01,271.00,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,279.99,272.10,275.01,679358.87,Saturday

In [ ]:
#13.09

In [7]:
df['Date'].min()

Timestamp('2017-07-01 11:00:00')

In [8]:
df['Date'].max()

Timestamp('2020-03-13 20:00:00')

In [9]:
#time delta
df['Date'].max() - df['Date'].min()

Timedelta('986 days 09:00:00')

In [19]:

filt = (df['Date'] >= '2019') & (df['Date']< '2020')
df.loc[filt]

                     Date  Symbol    Open    High     Low   Close      Volume
1749  2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
1750  2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
1751  2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
1752  2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
1753  2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                   ...     ...     ...     ...     ...     ...         ...
10504 2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
10505 2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
10506 2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
10507 2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
10508 2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 7 columns]

In [21]:
filt1 = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] > pd.to_datetime('2020-01-01'))
df.loc[filt1]

                    Date  Symbol    Open    High     Low   Close      Volume
0    2020-03-13 20:00:00  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1    2020-03-13 19:00:00  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2    2020-03-13 18:00:00  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3    2020-03-13 17:00:00  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4    2020-03-13 16:00:00  ETHUSD  124.85  129.51  120.17  124.08  4461424.71
...                  ...     ...     ...     ...     ...     ...         ...
1743 2020-01-01 05:00:00  ETHUSD  129.56  129.94  129.47  129.83   232163.70
1744 2020-01-01 04:00:00  ETHUSD  129.57  130.00  129.50  129.56   702786.82
1745 2020-01-01 03:00:00  ETHUSD  130.37  130.44  129.38  129.57   496704.23
1746 2020-01-01 02:00:00  ETHUSD  130.14  130.50  129.91  130.37   396315.72
1747 2020-01-01 01:00:00  ETHUSD  128.34  130.14  128.32  130.14   635419.40

[1748 rows x 7 columns]

In [22]:
df.set_index('Date',inplace=True)

In [27]:
df.loc['2019']

                     Symbol    Open    High     Low   Close      Volume
Date
2019-12-31 23:00:00  ETHUSD  128.33  128.69  128.14  128.54   440678.91
2019-12-31 22:00:00  ETHUSD  128.38  128.69  127.95  128.33   554646.02
2019-12-31 21:00:00  ETHUSD  127.86  128.43  127.72  128.38   350155.69
2019-12-31 20:00:00  ETHUSD  127.84  128.34  127.71  127.86   428183.38
2019-12-31 19:00:00  ETHUSD  128.69  128.69  127.60  127.84  1169847.84
...                     ...     ...     ...     ...     ...         ...
2019-01-01 04:00:00  ETHUSD  130.75  133.96  130.74  131.96  2791135.37
2019-01-01 03:00:00  ETHUSD  130.06  130.79  130.06  130.75   503732.63
2019-01-01 02:00:00  ETHUSD  130.79  130.88  129.55  130.06   838183.43
2019-01-01 01:00:00  ETHUSD  131.62  131.62  130.77  130.79   434917.99
2019-01-01 00:00:00  ETHUSD  130.53  131.91  130.48  131.62  1067136.21

[8760 rows x 6 columns]

In [28]:
#slicing
df.loc['2020-01':'2020-02']

                     Symbol    Open    High     Low   Close      Volume
Date
2020-02-29 23:00:00  ETHUSD  223.35  223.58  216.83  217.31  1927939.88
2020-02-29 22:00:00  ETHUSD  223.48  223.59  222.14  223.35   535998.57
2020-02-29 21:00:00  ETHUSD  224.63  225.14  222.74  223.48   561158.03
2020-02-29 20:00:00  ETHUSD  225.31  225.33  223.50  224.63   511648.65
2020-02-29 19:00:00  ETHUSD  225.09  225.85  223.87  225.31  1250856.20
...                     ...     ...     ...     ...     ...         ...
2020-01-01 04:00:00  ETHUSD  129.57  130.00  129.50  129.56   702786.82
2020-01-01 03:00:00  ETHUSD  130.37  130.44  129.38  129.57   496704.23
2020-01-01 02:00:00  ETHUSD  130.14  130.50  129.91  130.37   396315.72
2020-01-01 01:00:00  ETHUSD  128.34  130.14  128.32  130.14   635419.40
2020-01-01 00:00:00  ETHUSD  128.54  128.54  128.12  128.34   245119.91

[1440 rows x 6 columns]

In [31]:
df.loc['2020-01':'2020-02']['Close'].mean()

195.1655902777778

In [33]:
df.loc['2020-01-01']['High'].max()

132.68

In [ ]:
#23:47