In [1]:
import pandas as pd

**Creating data**
There are two core objects in pandas: the DataFrame and the Series

**DataFrame**
A DataFrame is a table. It contains an array of individual entries, each of which has a certain value.
Each entry corresponds to a row (or record) and a column.

In [2]:
pd.DataFrame({'Yes':[50,51],'No':[131,2]})

   Yes   No
0   50  131
1   51    2

In this example, the "0, No" entry has the value of 131. The "0, Yes" entry has a value of 50, and so on.

DataFrame entries are not limited to integers. For instance, here's a DataFrame whose values are strings:

In [5]:
pd.DataFrame({'Bob':['I LIke it.','It was aweful'],
             'Sue':['Pretty good.','Bland.']},
            index=['Product A','Product B'])

                     Bob           Sue
Product A     I LIke it.  Pretty good.
Product B  It was aweful        Bland.

The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor: refer cell no.5

In [ ]:
#https://www.kaggle.com/code/residentmario/creating-reading-and-writing