### List

In [1]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

In [2]:
print(flowers_list)
print(type(flowers_list))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']
<class 'list'>

In [3]:
print(len(flowers_list))

10

In [7]:
print("First Index : ", flowers_list[0])
print("Second Index :", flowers_list[1])
# The list has length ten, so we refer to final entry with 9
print("Last Index : ",flowers_list[-1])

First Index :  pink primrose
Second Index : hard-leaved pocket orchid
Last Index :  globe thistle

***Slicing***

You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

to pull the first x entries, you use [:x], and
to pull the last y entries, you use [-y:].

In [8]:
print("First three Entries:",flowers_list[:3])

First three Entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']

In [11]:
print("Final three Entries:",flowers_list[-3:])

Final three Entries: ['bird of paradise', 'monkshood', 'globe thistle']

***Removing items***

Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [12]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

***Adding items***

Add an item to a list with .append(), and put the item you would like to add in parentheses.

In [19]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

***Lists are not just for strings***

So far, we have only worked with lists where each item in the list is a string. But lists can have items with any data type, including booleans, integers, and floats.

In [20]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

In [21]:
print("length of the list : ", len(hardcover_sales))
print("Entry at index 2 : ", hardcover_sales[2])

length of the list :  7
Entry at index 2 :  172

- You can also get the minimum with min() and the maximum with max().

In [22]:
print("Max: ", max(hardcover_sales))
print("Min:", min(hardcover_sales))

Max:  191
Min: 128

- To add every item in the list, use sum().

In [23]:
print("Totoal number sold in one week :", sum(hardcover_sales))

Totoal number sold in one week : 1107

We can also do similar calculations with slices of the list. In the next code cell, we take the sum from the first five days (sum(hardcover_sales[:5])), and then divide by five to get the average number of books sold in the first five days.

In [26]:
print("Avergae book sold in first fivce days :",sum(hardcover_sales[:5])/5)

Avergae book sold in first fivce days : 153.8