***Pandas DataFrame mean***

(https://www.geeksforgeeks.org/python-pandas-dataframe-mean/?ref=lbp)

Pandas dataframe.mean() function returns the mean of the values for the requested axis. If the method is applied on a pandas series object, then the method returns a scalar value which is the mean value of all the observations in the Pandas Dataframe. If the method is applied on a Pandas Dataframe object, then the method returns a Pandas series object which contains the mean of the values over the specified axis.

In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.DataFrame({"A":[12, 4, 5, 44, 1], 
                "B":[5, 2, 54, 3, 2], 
                "C":[20, 16, 7, 3, 8], 
                "D":[14, 3, 17, 2, 6]}) 
df

    A   B   C   D
0  12   5  20  14
1   4   2  16   3
2   5  54   7  17
3  44   3   3   2
4   1   2   8   6

In [4]:
df.mean(axis=0)

A    13.2
B    13.2
C    10.8
D     8.4
dtype: float64

In [5]:
df.mean(axis=1)

0    12.75
1     6.25
2    20.75
3    13.00
4     4.25
dtype: float64

In [6]:
#Use mean() function on a Dataframe that has None values. Also, find the mean over the column axis. 
df1 = pd.DataFrame({"A":[12, 4, 5, None, 1], 
                "B":[7, 2, 54, 3, None], 
                "C":[20, 16, 11, 3, 8],
                "D":[14, 3, None, 2, 6]})
df1

      A     B   C     D
0  12.0   7.0  20  14.0
1   4.0   2.0  16   3.0
2   5.0  54.0  11   NaN
3   NaN   3.0   3   2.0
4   1.0   NaN   8   6.0

In [10]:
df1.mean(axis=1)

0    13.250000
1     6.250000
2    23.333333
3     2.666667
4     5.000000
dtype: float64

In [12]:
df1.mean(axis=0)

A     5.50
B    16.50
C    11.60
D     6.25
dtype: float64

***Python | Pandas Series.mean()***

Pandas series is a One-dimensional ndarray with axis labels. The labels need not be unique but must be a hashable type. The object supports both integer- and label-based indexing and provides a host of methods for performing operations involving the index.

Pandas Series.mean() function return the mean of the underlying data in the given Series object.

(https://www.geeksforgeeks.org/python-pandas-series-mean/?ref=lbp)

In [9]:
s = pd.Series([10, 25, 3, 25, 24, 6])
index_ = ['Coke','Sprite','Fanta','Pepsi','Dew','Limca']
s.index = index_
print(s)

Coke      10
Sprite    25
Fanta      3
Pepsi     25
Dew       24
Limca      6
dtype: int64

In [10]:
res = s.mean()
res

15.5

In [11]:
s1 = pd.Series([19.5, 16.8, None, 22.78, 16.8, 20.124, None, 18.1002, 19.5]) 
print(s1)

0    19.5000
1    16.8000
2        NaN
3    22.7800
4    16.8000
5    20.1240
6        NaN
7    18.1002
8    19.5000
dtype: float64

In [12]:
res1=s1.mean()
res1

19.086314285714284

In [13]:
#Now we will use Series.mean() function to find the mean of the given series object. 
#we are going to skip all the missing values while calculating the mean.
#skipna : Exclude NA/null values when computing the result.

In [15]:
res2 = s1.mean(skipna=True)
res2

19.086314285714284